.cardContainer{
    display: flex;
    flex-direction: column;
    min-height: 200px;
    max-height: 350px;
    padding: 10px;
    background-color: var(--Marrom_3);
    border-radius: 10px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
}

.internalHeader{
    height: 40%;
    padding: 10px;
    border-radius: 70.5px 13px 13px 70.5px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--MarromClarinho);
    color: var(--MarromJuliano);
    text-align: center;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
}

.companyPicContainer{
    width: 60px;
    height: 60px;
    display: flex;
    background-color: rgb(219, 198, 198);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.companyPic{
    height: 60px;
}

.description{
    text-align: justify;
    text-indent: 15px;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    max-height: 140px;
}

.date{
    display: flex;
    justify-content: flex-end;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.textSection{
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleContainer{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 1.2rem;
    text-align: left;
}

.title2{
    text-align: left;
    font-size: 13px;
}
