.cardContainer{
    background-color: var(--Marrom_3);
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
}

.internalHeader{
    border-radius: 70.5px 13px 13px 70.5px;
    padding: 10px;
    max-height: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: var(--MarromClarinho);
    color: var(--MarromJuliano);
    text-align: center;
    box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.15);
}

.companyPic{
    width: 50px;
}

.textSection{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.description{
    margin-top: 10px;
    text-align: justify;
    text-indent: 15px;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.limiteLinhas{
    margin-top: 10px;
    text-align: justify;
    text-indent: 15px;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);

    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.date{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    font-size: 14px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}


.titleContainer{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 1.2rem;
    text-align: left;
}

.title2{
    text-align: left;
    font-size: 13px;
}
