.mainSection{
    margin: auto;
    margin-top: 15px;
    width: 94%;
    max-width: 800px;
    padding: 20px;
    border-radius: 10px 10px 10px 10px;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: var(--Periwinkle);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
