.experienceSection{
    padding: 15px;
    background-color: var(--Marrom);
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.experienceSection > h2 {

}

.cardsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

@media (max-width: 600px){
    .cardsContainer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
    }
}
