:root {
  --BlackOlive: #292e1e;
  --Mauveine: #7f0799;
  --Purpureus: #9649cb;
  --Periwinkle: #afbbf2;
  --MintGreen: #d3fff3;
}

body {
  background-color: var(--darkblue);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

body, input, textarea, button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
}
