:root {
  --BlackOlive: #000500;
  --Mauveine: #362417;
  --Purpureus: #92817a;
  --Periwinkle: #f1dabf;
  --MintGreen: #fffbff;

  /* Black
  Bistre
  Cinereous
  Almond
  Snow
  */
}

body {
  background-image: url(./assets/planks.jpg);
  background-size: auto;
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-overflow-style: none;  /* Hide scrollbar for IE and Edge */
  scrollbar-width: none;  /* Hide scrollbar for Firefox */
}

body, input, textarea, button {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: white;
}
